---
className: page-home
---
<section class="promo-box">
  <div class="container">
    <h1 class="title"><%- site.title.split(' ').join('<br>') %></h1>
    <p class="subtitle"><%= site.subtitle %></p>
    <img src="" alt="" class="picture">

    <div class="social-links">
      <% site.data.socialLinks.forEach((link) => { %>
        <a class="link -<%= link.name.toLowerCase() %>" href="<%= link.url %>" title="<%= link.name %>">
          <svg class="icon">
            <use xlink:href="#icon-<%= link.name.toLowerCase() %>"></use>
          </svg>
        </a>
      <% }) %>
    </div>
  </div>
</section>
