<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= page.title ? `${page.title} | ` : '' %><%= site.title %></title>
  <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body class="<%= page.className %>">
  <header class="header">
    <nav class="nav">
      <div class="logo">
        <a href="/">
          <span class="title"><%= site.title %></span>
          <span class="subtitle"><%= site.subtitle %></span>
        </a>
      </div>
      <div class="menu">
        <ul>
          <li class="menu-home"><a href="/"><span>Home</span></a></li>
          <li class="menu-about"><a href="/sobre"><span>Sobre</span></a></li>
          <li class="menu-articles"><a href="/artigos"><span>Artigos</span></a></li>
          <li class="menu-contact"><a href="/contato"><span>Contato</span></a></li>
        </ul>
      </div>
    </nav>
  </header>

  <main class="main">
    <%- body %>
  </main>

  <footer class="footer">

  </footer>
</body>
</html>
